<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-1">Browser</span>
  <button mat-button [matMenuTriggerFor]="userMenu">
    {{ currentUser.name }}
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="signOut()">Abmelden</button>
  </mat-menu>


  <app-invitation-menu></app-invitation-menu>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" class="sidenav" [(opened)]="sidenavOpened">
    <!-- Menüeinträge oder Navigation -->
    <p (click)="navigateTo('dashboard')">Dashboard</p>
    <p (click)="navigateTo('todo')">Todos</p>
    <p (click)="navigateTo('project')">Projekte</p>
    <p (click)="navigateTo('event')">Events</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content> <!-- HIER kommt der Page-Content rein -->
  </mat-sidenav-content>
</mat-sidenav-container>
