.sidenav-container {
  height: 100vh;
}

.flex-1 {
  flex: 1;
}

.username {
  padding-right: 16px;
  font-weight: bold;
}

.dashboard-section {
  padding: 16px;
}

.item-card {
  margin-top: 8px;
  padding: 12px;
  border-radius: 12px;
}

.clickable {
  cursor: pointer;
  transition: color 0.2s ease;
}

.clickable:hover {
  color: blue;
}
