<app-sidenav-toolbar-layout>
  <div class="center">
    <button mat-button (click)="openTodoDialog()">
      <mat-icon>add_box</mat-icon>
      ToDo Hinzufügen
    </button>
  </div>
  <div class="filter-buttons">
    <button mat-button [class.active]="filter === 'all'" (click)="setFilter('all')">Alle</button>
    <button mat-button [class.active]="filter === 'open'" (click)="setFilter('open')">Offen</button>
    <button mat-button [class.active]="filter === 'done'" (click)="setFilter('done')">Erledigt</button>
  </div>
  <div class="card-section">
    <app-todo-card
      *ngFor="let todo of filteredTodos"
      [todo]="todo">
    </app-todo-card>
  </div>
</app-sidenav-toolbar-layout>
