<ng-container *ngIf="invitations$ | async as invitations">
  <button mat-icon-button [matMenuTriggerFor]="invitationMenu">
    <mat-icon>{{ invitations.length > 0 ? 'mark_email_unread' : 'mail' }}</mat-icon>
  </button>

  <mat-menu #invitationMenu="matMenu">
    <ng-container *ngIf="invitations.length > 0; else noInvites">
      <div *ngFor="let invitation of invitations" class="invitation-item">
        <p class="invitation-text">
          {{ invitation.groupType }}: {{ invitation.message }}
        </p>
        <div class="invitation-actions">
          <button mat-button (click)="respond(invitation, 'accepted')">✔️</button>
          <button mat-button (click)="respond(invitation, 'declined')">❌</button>
        </div>
      </div>
    </ng-container>

    <ng-template #noInvites>
      <p>Keine Einladungen</p>
    </ng-template>
  </mat-menu>
</ng-container>
