/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  align-self: center;
}

.item-card {
  margin-top: 8px;
  padding: 12px;
  border-radius: 12px;
  position: relative;
}

.dashboard-section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 gleich breite Spalten */
  gap: 16px;
  padding: 16px;
}
