<mat-toolbar color="primary">
  <button mat-icon-button (click)="test()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-1">Browser</span>
  <button mat-button [matMenuTriggerFor]="userMenu">
    Max muster
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="test()">Profil</button>
    <button mat-menu-item (click)="signOut()">Abmelden</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" opened="false">
    <!-- Seitenmenü-Inhalt (optional) -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="dashboard-section">
      <h2 class="clickable" (click)="navigateTo('todo')">ToDo's</h2>
      <mat-card class="item-card">
        <mat-card-title>Bananen kaufen</mat-card-title>
        <mat-card-subtitle>Aus Laden XY</mat-card-subtitle>
        <mat-card-actions>
          <mat-checkbox></mat-checkbox>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="dashboard-section">
      <h2 class="clickable" (click)="navigateTo('project')">Tasks</h2>
      <mat-card class="item-card">
        <mat-card-title>Datenbank Anbindung errichten</mat-card-title>
        <mat-card-subtitle>FireBase nutzen</mat-card-subtitle>
        <mat-card-content>ShoppingList-App</mat-card-content>
        <mat-card-actions>
          <mat-checkbox></mat-checkbox>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="dashboard-section">
      <h2 class="clickable" (click)="navigateTo('event')">Event's</h2>
      <mat-card class="item-card">
        <mat-card-title>Geburtstags Party</mat-card-title>
        <mat-card-subtitle>6 Teilnehmer</mat-card-subtitle>
        <mat-card-content>1.1.2000</mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
