<mat-card class="item-card">
  <mat-card-title>{{ eventTTE.title }}</mat-card-title>
  <mat-card-subtitle>{{ dateString }}</mat-card-subtitle>
  <mat-card-subtitle class="datediff"> {{dateDiff}}</mat-card-subtitle>
  <mat-card-footer>interessierte: {{eventTTE.member.length}}</mat-card-footer>

  <!-- Menü nur für den Ersteller sichtbar -->
  <ng-container *ngIf="isOwner">
    <button class="topr-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="delete()">Löschen</button>
      <button mat-menu-item (click)="openInviteDialog(eventTTE)">Einladen</button>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="!isOwner">
    <button mat-icon-button class="topr-button" (click)="leave()">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>
</mat-card>
